.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form {
    background-color: #131317;
    width: 30%;
    padding: 40px;
    border-radius: 35px;
    box-sizing: border-box;
}

.form p {
    width: 100%;
}

.form button {
    padding: 5px 35px;
    font-size: 18px;
}

.greeding {
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

label {
    color: #ffffff;
    opacity: 0.4;
}

.mt-1 {
    padding-top: 8px;
    color: #ffffff;

}

